<div *ngIf="observables$ | async as data">
  <div class="filter-controls">
    <label>Filter:</label>
    <select (change)="setFilterType($event)">
      <option *ngFor="let option of filterOptions">{{ option }}</option>
    </select>
  </div>
  <div class="sort-controls">
    <label>Sort:</label>
    <input type="checkbox" [checked]="data.isSortingEnabled" (change)="toggleIsSortingEnabled()">
    <button (click)="toggleSortType()">{{ data.sortType }}</button>
    <button (click)="toggleSortDirection()">{{ data.sortDirection }}</button>
  </div>
  <app-inventory-list
    [groceries]="data.groceries"
  />
</div>
